# 🔧 JetBrains Rider / IntelliJ
.idea/

# 🔨 Build Artifacts
**/bin/
**/obj/

# 📦 User & Temp Files
*.user
*.suo
*.swp
*.tmp

# 🧪 Test Results
TestResults/
*.trx


.env


# ⚙️ VS / Rider Settings
*.vs/
*.vscode/
